NODE_ENV=development

TELEGRAM_API_ID=
TELEGRAM_API_HASH=

BASE_URL=https://web.telegram.org/a/

# API Service Configuration
API_PORT=9000
API_TOKEN=secure-api-token-for-telegram-client

# Scheduled Tasks Configuration
# OuYi Task
TASK_OUYI_ENABLED=true
TASK_OUYI_INTERVAL=300000
TASK_OUYI_NAME=Fetch OuYi Trading Data
TASK_OUYI_STORE_PATH=./data
